@charset "UTF-8";
body {
  font-family: 'Lato';
}

.font__raleway {
  font-family: 'Raleway';
}

.wrapper {
  background-color: #f2f2f2;
}
/* 総合 */
.inner {
  width: 1100px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
                      /* header */
.header {
  background: #fff;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.header__inner {
  padding: 15px;
}

.bolt-icon {
  color: #c0c0c0;
}

.link-style_none {
  text-decoration: none;
}

.link-style {
  color: #fff;
}

.contact-button {
  padding: 14px 12px;
  background-color: #74cfae;
  margin: auto 0;
  font-size: 12px;
  font-weight: bold;
  transition: 0.3s;
  /* line-height:1.5em; */
  /* text-align: center; */
  color: #fff;
  float: right;
}

.link-style:hover {
  color: #333;
}

/* div */
.heading {
  padding-top: 62px;
}

.heading__inner {
  padding: 250px 0;
}

.heading__inner_title {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}

.heading__inner-description {
  color: #c0c0c0;
  font-size: 30px;
  text-align: center;
}

/* .heading::before {
  content: "";
  display: block;
  height: 80px;
} */
                      /* cando */
.cando {
  background-color: #74cfae;
}

.cando__inner {
  padding-top: 50px;
}

.cando__inner_phonepng {
  float: left;
}

.cando__inner_introduction {
  color: #fff;
  font-size: 20px;
  float: left;
  line-height: 1.3em;
  margin-left: 120px;
  text-align: center;
  width: 692px;
}

.cando__header {
  font-size: 24px;
  margin-bottom: 35px;
}
                      /* work */
.work__inner {
  padding: 60px 0 70px 0;
}

.work__inner_title {
  color: #333;
  font-size: 24px;
  /* margin-top: 60px; */
  text-align: center;
}

.work__inner_list_parent {
  font-size: 0;
  width: 100%;
  margin: 40px 0 90px 0;
}

.work__inner_lists {
  float: left;
  margin: 80px 100px 0 0;
}

.work__inner_lists:nth-child(-n+3) {
  margin-top: 0px;
}

.work__inner_list_parent {
  display: inline-block;
}
  
.work__inner_list {
  opacity: 0.7;
  transition: 0.3s;
  display: inline-block;
}

.work__inner_list:hover {
  opacity: 1;
}

.work__inner_lists:nth-child(3n) {
  margin-right: 0;
}

.work__details {
  display: flex;
  justify-content: center;
  /* margin-bottom: 70px; */
}

.work__details_p {
  color: #333;
  text-align: center;
  width: 580px;
}

.work__details_email {
  color: #fff;
  display: block;
  padding: 14px 12px;
}

.mail__margin {
  margin-left: 90px;
  background-color: #74cfae;
  font-size: 12px;
  transition: 0.3s;
}

.work__details_email:hover {
  color: #333;
  transition: 0.3s;
}

                      /* skills */
.skills {
  background-color: #4e4e4e;
}

.skills__inner {
  padding: 70px 0 100px 0;
}

.skills__inner_title {
  color: #fff;
  font-size: 24px;
  text-align: center;
  margin-bottom: 50px;
}

.skills__table {
  display: flex;
  justify-content: center; 
}

.skills__table-cell {
  color: #fff;
  font-size: 16px;
  margin-right:180px;
  text-align: center;
}

.skills-text {
  margin-top: 15px;
}

.skills__table-cell:last-child {
  margin-right: 0;
}

                      /* sns */
.sns__inner {
  padding: 200px 0;
}

.sns__icon_parent {
  display: flex;
  justify-content: center;
}

.sns__style {
  display: inline-block;
  border-radius: 3px;
  transition: 0.3s;
  text-align: center;
  width: 185px;
}

.sns__icon {
  padding: 10px 0;
  width: 100%;
  color: #74cfae;
}

.sns__style:hover {
  background-color: #fff;
}
                      /* footer */
.footer {
  background-color: #74cfae;
  color: #fff;
}

.footer__inner {
  padding: 20px 0 25px 0;
  text-align: right;
}

@media (max-width:1199px) {

  .inner {
    box-sizing: border-box;
    width: 97%;
    margin: 0 auto;
  }

  .cando__inner_introduction,
  .cando__inner_phonepng {
    float: none;
    margin: 0 auto;
  }
  
  .cando__inner_introduction {
    width: 100%;
  }
  
  .cando__inner_phonepng {
    margin-bottom: 20px;
  }
  
  .cando__inner {
    text-align: center;
    padding: 50px 0 25px 0;
  }

  .skills__table {
    display: inline;
  }
  
  .work__inner_list_parent {
    text-align: center;
  }

  .work__inner_lists {
    float: none;
    margin: 0;
  }

  .work__inner_lists:nth-child(3n) { 
    margin-bottom: 80px;
  }

  .work__details {
    display: block;
    text-align: center;
  }

  .mail__margin,.work__details_p {
    margin-left: 0;
    width: 100%;
  }

  .mail__margin {
    width: 80px;
    margin: 40px auto 0 auto;
  }

  .skills__table-cell {
    margin: 0 auto 88px 0;
  }

  .skills__table-cell:last-child {
    margin-bottom: 0;
  }

}

@media (max-width: 767px) {

  .contact-button {
    display: none;
  }
  
  .menu-button {
    padding: 0 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 30px;
    height: 35px;
    float: right;
  }

  .mobile-none {
    font-size: 0;
    position: relative;
  }

  .mobile-none .bar {
    display: block;
    margin-top: 5px;
    border: #ccc 1px solid;
  }

  .mobile-none .bar:first-child {
    margin-top: 10px;
  }

  .heading__inner {
    padding: 160px 0 130px 0;
  }

  .heading__inner_title {
    font-size: 80px;
  }

  .heading__inner-description {
    font-size: 30px;
  }

  .sns__icon_parent {
    display: block;
  }

  .sns__inner {
    padding: 40px 15px; 
  }

  .sns__style {
      width: 100%;
  }

}