@charset "UTF-8";
body {
  font-family: 'Lato', sans-serif;
}

.font__raleway {
  font-family: 'Raleway', sans-serif;
}

.wrapper {
  background-color: #f2f2f2;
}
                      /* header */
.header {
  background: #fff;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.bolt-icon {
  color: #c0c0c0;
  padding: 10px;
  width: 30px;
}

.link-style_none {
  text-decoration: none;
}

.link-style {
  color: #fff;
}

.contact-buttom {
  margin: 10px;
}

.header__content_bg_green {

  background-color: #74cfae;
  font-size: 12px;
  font-weight: bold;
  transition: 0.3s;
  line-height:1.5em;
  padding: 14px 12px;
  text-align: center;
  color:#fff;
}

.link-style:hover {
  color: #333;
}

/* div */
.heading {
  padding-top: 82px;
}

.heading__inner {
  padding: 250px 0;
}

.headding__innner_title {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
 
  margin-bottom: 20px;
  text-align: center;
}

.headding__innner-description {
  color: #c0c0c0;
  font-size: 30px;
  text-align: center;
}

/* .heading::before {
  content: "";
  display: block;
  height: 80px;
} */
                      /* section */
.section {
  background-color: #74cfae;
}

.section__inner {
  padding-top: 50px;
}

.section__inner_phoneoeg {
  float: right;
}

.section__inner_introduction {
  color: #fff;
  font-size: 20px;
  float: right;
  line-height: 1.3em;
  margin-left: 120px;
  text-align: center;
  width: 692px;
}

.section__inner_introduction *:first-child {
  font-size: 24px;
  margin-bottom: 35px;
}

                      /* article */
.article__inner {
  padding: 60px 0 70px 0;
}

.article__inner_title {
  color: #333;
  font-size: 24px;
  /* margin-top: 60px; */
  text-align: center;
}

.article__inner_list_parent {
  font-size: 0px;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 90px;
}

.article__inner_lists {
  float: left;
  margin: 0 100px 80px 0;
}

.article__inner_lists:nth-last-child(4)~li {
  margin-bottom: 0px;
}

.article__inner_list_parent {
  display: inline-block;
}
  
.article__inner_list {
  opacity: 0.7;
  transition: 0.3s;
  display: inline-block;
}

.article__inner_list:hover {
  opacity: 1;
}

.article__inner_lists:nth-child(3n) {
  margin-right: 0px;
}

.article__details {
  display: flex;
  justify-content: center;
  /* margin-bottom: 70px; */
  
}

.article__details_p {
  color: #333;
  text-align: center;
  width: 580px;
}

.article__details_email {
  color: #fff;
  display:block;
  padding: 14px 12px;
}

.mail__margin {
  margin-left: 90px;
  background-color: #74cfae;
  font-size: 12px;
  transition: 0.3s;
}

.article__details_email:hover {
  color: #333;
  transition: 0.3s;
}

                      /* figure */
.figure {
  background-color: #4e4e4e;
}

.figure__inner {
  padding: 70px 0 100px 0;
}

.figure__inner_title {
  color: #fff;
  font-size: 24px;
  text-align: center;
  margin-bottom: 50px;
}

.figure__table {
  display: flex;
  justify-content: center; 
}

.figure__table-cell {
  color: #fff;
  font-size: 16px;
  margin-right:180px;
  text-align: center;
}

.figure__table-cell :last-child {
  margin-top: 15px;
}
/* p煮直す */
.figure__table-cell:last-child {
  margin-right: 0px;
}

                      /* nav */
.nav__inner {
  padding: 200px 0;
}

.nav__icon_parent {
  display: flex;
  justify-content: center;
}

.nav__style {
  display:inline-block;
  border-radius: 3px;
  transition: 0.3s;
  text-align: center;
  width: 185px;
}

.nav__icon {
  padding: 10px 0;
  width: 100%;
  color: #74cfae;
}

.nav__style:hover {
  background-color: #fff;
}
                      /* footer */
.footer {
  background-color: #74cfae;
  color: #fff;
}

.footer__inner {
  padding: 20px 0 25px 0;
  text-align: right;
}
                      /* 総合 */
.inner {
  width: 1100px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
